{% extends 'base.html' %}
{% block title %}Porfólio de Moveis{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4 mb-3">Portfólio de Móveis</h1>
                <div class="row">

                    {% for movel in moveis %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top"
                                     src="//s3.amazonaws.com/img.iluria.com/product/466341/A93300/450xN.jpg"
                                     alt="{{ movel.titulo }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ movel.titulo }}
                                        - {{ movel.preco }}</h5>
                                    <p class="card-text">{{ movel.descricao }}</p>
                                    <a href="#" class="btn btn-primary">Detalhes</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

        </div>


    </div>
{% endblock content %}