{% extends 'base.html' %}
{% block title %}Contatos{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mt-4 mb-3">Contatos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <dl>
                    <dt>Telefones</dt>
                    <dd>(12) 98873-9669</dd>
                    <dd>(12) 98802-1263</dd>
                    <dd>(12) 99799-1571</dd>
                </dl>
                <address>
                    <strong>Endereço</strong>
                    <br/> SP 50 (estrada SJC / Monteiro Lobato) Nº 20.200, KM 20
                    <br/> São José dos Campos - SP<br/>
                    <abbr
                            title="CEP">CEP:</abbr> 12220-340
                </address>
            </div>
        </div>
    </div>
{% endblock content %}